<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.cullxdrive.productlist" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.persmission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_cake_t"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".ActivityMain"
            android:label="Мои рецепты"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ActivityRecipe"
            android:label="@string/title_activity_recept_open"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".ActivityRecipeEdit"
            android:label="@string/title_activity_recipe_edit"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
    </application>

</manifest>
